<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>knowmore</title>
  <script src="https://cdn.tailwindcss.com"></script>
  <style>
    body {
      background-color: rgb(19, 18, 19);
    }
  </style>
  <script src="https://kit.fontawesome.com/4471f02c2e.js" crossorigin="anonymous"></script>
  <link rel="shortcut icon" href="assets/favicon.ico" type="image/x-icon">
</head>
<body>
  <div class="moreinfo">
    <section class="max-w-7xl mx-auto px-10 md:px-0 py-10">
      <div class="px-4 mx-auto sm:px-6 lg:px-8 max-w-7xl">
        <div class="max-w-2xl mx-auto lg:text-center">
          <h2 class="text-4xl font-bold leading-tight text-black dark:text-white sm:text-4xl lg:text-4xl">
            Thyroid Disease: Causes & Treatment</h2>
          <p class="max-w-xl lg:mx-auto mt-4 text-base leading-relaxed text-gray-600"> </p>
        </div>
        <br>
        <hr>
        <div class="max-w-3xl mx-auto mt-8 md:mt-16 grid grid-cols-1">
          <div>
            <h2 class="font-semibold text-xl text-black dark:text-pink-600">
              What is the thyroid?
            </h2>
            <p class="text-sm leading-6 tracking-wide text-gray-100 mt-6">
              The thyroid gland is a small organ that's located in the front of the neck,
              wrapped around the windpipe (trachea).
              It's shaped like a butterfly, smaller in the middle with two wide wings
              that extend around the side of your throat. The thyroid is a gland.
              You have glands throughout your body, where they create and release
              substances that help your body do a specific thing. Your thyroid makes
              hormones that help control many vital functions of your body.
            </p>
            <p class="text-sm leading-6 tracking-wide text-gray-100 mt-6">
              When your thyroid doesn't work properly, it can impact your entire body.
              If your body makes too much thyroid hormone, you can develop a condition
              called hyperthyroidism. If your body makes too little thyroid hormone,
              it's called hypothyroidism. Both conditions are serious and need to be
              treated by your healthcare provider.
            </p><br>
          </div>
          <div>
            <h2 class="font-semibold text-xl text-black dark:text-pink-600">
              What does the thyroid do?
            </h2>
            <p class="text-sm leading-6 tracking-wide text-gray-100 mt-6">
              Your thyroid has an important job to do within your body — releasing and
              controlling thyroid hormones that control metabolism. Metabolism is a process
              where the food you take into your body is transformed into energy.
              This energy is used throughout your entire body to keep many of your body's
              systems working correctly. Think of your metabolism as a generator. It takes
              in raw energy and uses it to power something bigger.
            </p>
            <p class="text-sm leading-6 tracking-wide text-gray-100 mt-6">
              The thyroid controls your metabolism with a few specific hormones — T4 (thyroxine, contains four iodide
              atoms) and T3 (triiodothyronine, contains three iodide atoms). These two hormones are created by the
              thyroid
              and they tell the body's cells how much energy to use. When your thyroid works properly, it will maintain
              the right amount of hormones to keep your metabolism working at the right rate. As the hormones are used,
              the thyroid creates replacements.
            </p>
            <p class="text-sm leading-6 tracking-wide text-gray-100 mt-6">
              This is all supervised by something called the pituitary gland. Located in the center of the skull, below
              your brain, the pituitary gland monitors and controls the amount of thyroid hormones in your bloodstream.
              When the pituitary gland senses a lack of thyroid hormones or a high level of hormones in your body, it
              will
              adjust the amounts with its own hormone. This hormone is called thyroid stimulating hormone (TSH). The TSH
              will be sent to the thyroid and it will tell the thyroid what needs to be done to get the body back to
              normal.
            </p><br>
          </div>
          <div>
            <h2 class="font-semibold text-xl text-black dark:text-pink-600">
              Who is affected by thyroid disease?
            </h2>
            <p class="text-sm leading-6 tracking-wide text-gray-100 mt-6">
              Thyroid disease can affect anyone — men, women, infants, teenagers and the elderly. It can be present at
              birth (typically hypothyroidism) and it can develop as you age (often after menopause in women).
              Thyroid disease is very common, with an estimated 20 million people in the Unites States having some type
              of thyroid disorder. A woman is about five to eight times more likely to be diagnosed with a thyroid
              condition than a man.
            </p><br>
          </div>
          <div>
            <h2 class="font-semibold text-xl text-black dark:text-pink-600">
              Who is affected by thyroid disease?
            </h2>
            <p class="text-sm leading-6 tracking-wide text-gray-100 mt-6">
              Thyroid disease can affect anyone — men, women, infants, teenagers and the elderly. It can be present at
              birth (typically hypothyroidism) and it can develop as you age (often after menopause in women).
              Thyroid disease is very common, with an estimated 20 million people in the Unites States having some type
              of thyroid disorder. A woman is about five to eight times more likely to be diagnosed with a thyroid
              condition than a man.
              <br><br>You may be at a higher risk of developing a thyroid condition if you:
            <ul class="text-sm leading-6 tracking-wide text-gray-100 mt-6">
              <li>(1) Have a family history of thyroid disease.</li>
              <li>(2) Have a medical condition (these can include pernicious anemia, Type 1 diabetes, primary adrenal
                insufficiency, lupus, rheumatoid arthritis, Sjögren's syndrome and Turner syndrome).</li>
              <li>(3) Take a medication that's high in iodine (amiodarone).</li>
              <li>(4) Are older than 60, especially in women.</li>
              <li>(5) Have had treatment for a past thyroid condition or cancer (thyroidectomy or radiation).</li>
            </ul>
            </p><br>
          </div>
          <div>
            <h2 class="font-semibold text-xl text-black dark:text-pink-600">
              Who is affected by thyroid disease?
            </h2>
            <p class="text-sm leading-6 tracking-wide text-gray-100 mt-6">
              Thyroid disease can affect anyone — men, women, infants, teenagers and the elderly. It can be present at
              birth (typically hypothyroidism) and it can develop as you age (often after menopause in women).
              Thyroid disease is very common, with an estimated 20 million people in the Unites States having some type
              of thyroid disorder. A woman is about five to eight times more likely to be diagnosed with a thyroid
              condition than a man.
            </p><br>
          </div>
          <div>
            <h2 class="font-semibold text-xl text-black dark:text-pink-600">
              What causes thyroid disease?
            </h2>
            <p class="text-sm leading-6 tracking-wide text-gray-100 mt-6">
              The two main types of thyroid disease are hypothyroidism and hyperthyroidism. Both conditions can be
              caused by other diseases that impact the way the thyroid gland works.<br><br>
              Conditions that can cause <strong> hypothyroidism </strong>include: <br>
            <ul style=" list-style-type:disc; color: white; ">
              <li>Thyroiditis: This condition is an inflammation (swelling) of the thyroid gland. Thyroiditis can lower
                the amount of hormones your thyroid produces.</li>
              <li>Hashimoto’s thyroiditis:A painless disease, Hashimoto’s thyroiditis is an autoimmune condition where
                the body’s cells attack and damage the thyroid. This is an inherited condition.</li>
              <li>Postpartum thyroiditis: This condition occurs in 5% to 9% of women after childbirth. It’s usually a
                temporary condition.</li>
              <li>Iodine deficiency: Iodine is used by the thyroid to produce hormones. An iodine deficiency is an issue
                that affects several million people around the world.</li>
              <li>
                A non-functioning thyroid gland: Sometimes, the thyroid gland doesn’t work correctly from birth. This
                affects about 1 in 4,000 newborns.
              </li>
            </ul><br>
            </p>
            <p class="text-sm leading-6 tracking-wide text-gray-100 mt-6">
              Conditions that can cause <strong> hyperthyroidism </strong>include: <br>
            <ul style=" list-style-type:disc; color: white; ">
              <li>
                Graves’ disease:In this condition the entire thyroid gland might be overactive and produce too much
                hormone. This problem is also called diffuse toxic goiter (enlarged thyroid gland).
              </li>
              <li>
                Nodules:Hyperthyroidism can be caused by nodules that are overactive within the thyroid. A single nodule
                is called toxic autonomously functioning thyroid nodule, while a gland with several nodules is called a
                toxic multi-nodular goiter.
              </li>
              <li>
                Thyroiditis:This disorder can be either painful or not felt at all. In thyroiditis, the thyroid releases
                hormones that were stored there. This can last for a few weeks or months.
              </li>
              <li>
                Excessive iodine:When you have too much iodine (the mineral that is used to make thyroid hormones) in
                your body, the thyroid makes more thyroid hormones than it needs. Excessive iodine can be found in some
                medications (amiodarone, a heart medication) and cough syrups.
              </li>
            </ul>
            </p><br>
          </div>
          <div>
            <h2 class="font-semibold text-xl text-black dark:text-pink-600">
              The specific blood tests that will be done to test your thyroid can include:
            </h2>
            <p class="text-sm leading-6 tracking-wide text-gray-100 mt-6">
            <ol style=" list-style-type:number; color: white; ">
              <li>
                <span style="color: rgb(141, 175, 254);">TSH : Thyroid-stimulating hormone </span><br>
                Thyroid-stimulating hormone (TSH) is produced in the pituitary gland and regulates the balance of
                thyroid hormones –- including T4 and T3 -- in the bloodstream. This is usually the first test your
                provider will do to check for thyroid hormone imbalance. Most of the time, thyroid hormone deficiency
                (hypothyroidism) is associated with an elevated TSH level, while thyroid hormone excess
                (hyperthyroidism) is associated with a low TSH level. If TSH is abnormal, measurement of thyroid
                hormones directly, including thyroxine (T4) and triiodothyronine (T3) may be done to further evaluate
                the problem. Normal test range for an adult: 0.40 - 4.50 mIU/mL (milli-international units per liter of
                blood).
              </li>
              <li> <span style="color: rgb(161, 188, 250);">T4: Thyroxine</span>
                T4: thyroxine tests for hypothyroidism and hyperthyroidism, and used to monitor treatment of thyroid
                disorders. Low T4 is seen with hypothyroidism, whereas high T4 levels may indicate hyperthyroidism.
                Normal range for an adult: 5.0 – 11.0 ug/dL (micrograms per deciliter of blood).
              </li>
              <li><span style="color: rgb(161, 188, 250);">FT4: Free T4 or free thyroxine</span>
                FT4: Free T4 or free thyroxin is a method of measuring T4 that eliminates the effect of proteins that
                naturally bind T4 and may prevent accurate measurement. Normal test range for an adult: 0.9 - 1.7 ng/dL
                (nanograms per deciliter of blood)</li>
              <li> <span style="color: rgb(161, 188, 250);"> T3: triiodothyronine</span>
                T3: triiodothyronine tests help diagnose hyperthyroidism or to show the severity of hyperthyroidism. Low
                T3 levels can be observed in hypothyroidism, but more often this test is useful in the diagnosis and
                management of hyperthyroidism, where T3 levels are elevated. Normal range: 100 - 200 ng/dL (nanograms
                per deciliter of blood).
              </li>
              <li> <span style="color: rgb(161, 188, 250);"> FT3: Free T3 or free triiodothyronine</span>
                FT3: Free T3 or free triiodothyronine is a method of measuring T3 that eliminates the effect of proteins
                that naturally bind T3 and may prevent accurate measurement. Normal range: 2.3 - 4.1 pg/mL (picograms
                per milliliter of blood)
              </li>
              <a href="https://my.clevelandclinic.org/health/diagnostics/17556-thyroid-blood-tests#:~:text=Normal%20test%20range%20for%20an,T4%20levels%20may%20indicate%20hyperthyroidism."
                style="color: palegreen ;"> <i>Know More .....</i> </a>
              </ul>
              </p><br>
          </div>
          <hr><br>
          <div>
            <h2 class="font-semibold text-xl text-black dark:text-pink-600">
              For more Information about Thyroid visit the <i>links</i>
            </h2>
            <p class="text-sm leading-6 tracking-wide text-gray-100 mt-6">
            <ul style=" list-style-type: circle; color: rgb(249, 252, 252); ">
              <li>
                <i><a href="https://my.clevelandclinic.org/health/diseases/8541-thyroid-disease#:~:text=The%20two%20main%20types%20of,swelling)%20of%20the%20thyroid%20gland.">Cleverclinic</a> </i>
              </li>
              <li>
                <i><a href="https://medlineplus.gov/thyroiddiseases.html">mediplus</a></i>
              </li>
              <li>
                <i><a href="https://www.womenshealth.gov/a-z-topics/thyroid-disease">womenshealth</a></i>
              </li>
              <li>
                <i><a href="https://youtu.be/S1kdYd4JGbg">Video-1</a></i>
              </li>
              <li>
                <i><a href="https://youtu.be/cDGmsR2ZILE">Video-2</a></i>
              </li>
              <li>
                <i><a href="https://youtu.be/SvjGJtj1YKI">Video-3</a></i>
              </li>
              <li>
                <i><a href="https://www.medicalnewstoday.com/articles/326774#factors-that-impact-levels">TSH Values Range</a></i>
              </li>
              <li>
                <i><a href="https://www.verywellhealth.com/understanding-thyroid-blood-tests-low-or-high-tsh-3233198">TSH Levels: What Do High and Low Levels Mean</a></i>
              </li>
            </ul>
            </p><br>
          </div>
        </div>
        <hr>
      </div>
    </section>
  </div>
</body>
</html>